.headBorder {
    border: 2px solid rgb(32, 32, 32);
    box-shadow: 3px 2px black;
}

.botConBorder {
    border-bottom: 3px groove black;
}

.bgGalaxyImage {
    background-image: url(../images/bggalaxyimg.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardD {
    background-color: rgb(117, 117, 117);
}

.borderTop {
    border: 2px groove black;
}

/* Buttons */

.bbbbtn {
    height: 100px;
    width: 80px;
}


/* Player choice images */

.pcImg {
    height: 200px;
    width: 150px;
    border: 2px solid rgb(12, 12, 12);
    box-shadow: 3px 3px 3px 3px #ffc107;
}